-@title = "welcome to suitless!"

%section.layout-fp.home-1

%section.layout-fp.home-2.bg-white-95.text-center
  %p.intro We provide HR Tax and law to well-funded, 5-to-500-person companies to support brand, talent, and culture. Unlike bloated firms or ninny consultants, we support rapid-growth businesses with lean execution and low overhead.
  %span.short-divider
  %p 
    Our process is simple.
    %br
    = image '4-icons'
    %br
    %span.uppercase Learn More
    %br
    = image 'go-down-arrow', :alt => 'down arrow'


%section.layout-fp-70.home-3.two-files-55-45
  .a-file
    .row-1
      .step-header
        %p step 1
        = image 'satelite'
        %p contact us
    .row-2.bg-white-95
      %p
        %span.bold Reaching Suitless is easy. 
        Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh.
  .b-file.bg-white-85.animated-image

%div.blue-banner.text-white
  %p.font-size-36.italic “This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.”
  %span -Joe Customer
  
%section.layout-fp-70.home-4.two-files-50-50
  .a-file
    .row-1.animated-image
    .row-2
      .step-header
        %p step 1
        = image 'satelite'
        %p contact us
      %p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin. Morbi accumsan ipsum velit. 
  .b-file
    .row-1
      .step-header
        %p step 1
        = image 'satelite'
        %p contact us
      %p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin. Morbi accumsan ipsum velit. 
    .row-2.bg-white-95.animated-image

%section.layout-fp.home-5.two-files-33-66
  .a-file
    %p.uppercase 4. get support
    %p.font-size-36.italic Proin gravida nibh vel velit auctor aliquet. Aenean 
  .b-file.bg-white-35.text-white.text-center
    .text-holder
      = image 't-shirt', :class => 'animated-image'
      %ul
        %li
          = image 'beaker-blue'
          %h4.uppercase Digital Innovation & Cat Paintings
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
        %li
          = image 'beaker-blue'
          %h4.uppercase Digital Innovation & Cat Paintings
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
        %li
          = image 'beaker-blue'
          %h4.uppercase Digital Innovation & Cat Paintings
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.



%section.layout-fp.home-6.bg-white-95.animated-image
  .text-holder.text-center.text-white
    %p step 5
    %p keep growing
    = image 'rocket'
    %br
    = image 'small-white-divider'
    %p It’s  profitable to get Suitless. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
    = image 'get-suitless'
